@charset "UTF-8";

 body {

    background-color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.calculator {
    width: 400px;
    height: 500px;
    margin: 100px auto;
    background-color: #444;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 24px;
    color: #fff;
}

.display input {
    width: 100%;
    font-size: 24px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #666;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    font-size: 20px;
    padding: 10px;
    background-color: #666;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

#project-description {
    text-align: center;
    color: #fff;
    margin: 20px;
}